[Unit]
Description=Activity Tracker
After=network.target

[Service]
ExecStart=#START#
Environment="SERVER=#SERVER#"
Environment="TOKEN=#TOKEN#"

[Install]
WantedBy=default.target